<h2>เกี่ยวกับเรา</h2>
<p>ร้านอาหารของเราเปิดมา 5ปี ร้านของเรามีเมนูอาหารมากมาย ทั้งอาหารหวานและเครื่องดื่ม 
    ราคาเข้าถึงได้ง่ายแล้วร้านเรากำลังจะพัฒนาอาหาร ขนมหวาน ยังตกแต่งให้เป็นร้านที่มี 
    บรรยากาศสบายๆมีพันธุ์ไม้ดอกไม้ใบของไทยที่ให้ร่มเงาและความสวยงามเป็นธรรมชาติ ทำให้ลูกค้าที่เข้ามารู้สึกเสมือนกับได้รับประทานอาหาร 
    อร่อยอยู่ที่บ้าน ทั้งนี้ได้เปิดโอกาสให้ลูกค้าที่เข้ามาใช้บริการจากร้าน แสดงความคิดเห็นผ่านใบรับความคิดเห็น 
    เพื่อเป็นการปรับปรุงและรักษา มาตรฐานของร้าน ซึ่งวิธีการดังกล่าวนอกจากจะทำให้ลูกค้ามีความรู้สึก 
    ที่ดีกับร้านแล้วยังเป็นการรักษากลุ่มลูกค้าเก่าและเปิดรับกลุ่มลูกค้าใหม่ๆ ของร้านที่มีเพิ่มขึ้นเรื่อยๆ อีกด้วย</p>
